# Web Framework
fastapi
uvicorn[standard]

# Producción
gunicorn

# Seguridad y Auth0
python-jose[cryptography]
python-multipart
requests
python-dotenv

# Validación de datos
pydantic[email]
pydantic-settings